
{% extends 'base.html' %}

 {% block title %}| New Product{% endblock %}

{% block content %}

          <div class="row m-1 mb-3">
            <a href="#bookform" class="btn btn-primary" data-toggle="collapse">+ Add Product</a>
          </div>

          <div id="bookform" class="card card-primary collapse">
            <form method="POST" enctype="multipart/form-data"  >
            {% csrf_token %}
              <div class="card-body">
                 {{prdctform}} <!-- pages/views -->
                <small id='totalrente' class="form-text text-muted"></small>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
          </div>



{% endblock %}
